@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #f4f4f4;
    font-size: 1rem;
}
a,
button {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 0 15px;
}

.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}

.tasks {
    margin: 20px 0;
    li {
        background-color: #eaeaea;
        margin-bottom: 5px;
        padding: 10px;
    }
}
.gamelist {
    margin-bottom: 20px;
}
